@font-face{
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-Thin.ttf);
}

body{
	background: #939393;
	padding: 0px;
}
.container{
	padding: 0px;
	width: 375px;
	height: 410px;
	margin-top: 100px;
	background: #ffffff;
}
.name{
	width: 100%;
	height: 100px;
	background: #541250;
	color: #ffffff;
	text-align: center;
	font-size: 18pt;
	padding-top: 25px;
}
.login-panel{
	margin: 35px 45px;
}
.invisible-input{
	border: 0px;
	font-style: bold;
	margin-top: 20px;
}
.login-panel #code{
margin-top: 10px;
color: #E4E9Ef;
margin-top: 20px;
}
.divider{
	background: #959595;
	width: 100%;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 20px;
}
#in-button{
	background: #541250;
	text-align: center;
	color: #ffffff;
	margin-top: 50px;
	border-radius: 5px;
	height: 50px;
	padding-top: 12px; 
	font-size: 14pt;
	margin-bottom: 30px;
}
#invisible-btn{
	opacity: 0;
}
.cannot-login-a{
	margin-top: 20px;
 	color: #542150;
}

h4{
	font-size: 16pt;
}