@font-face{
  font-family: "Roboto";
  src: url(fonts/roboto/Roboto-Thin.ttf);
}
body{
	padding: 0px;
	margin: 0px;
	background: #e4e4e4;
}
.header{
	margin: 0px;
	height: 55px;
	background: #541250;
	color: white;
	font-size: 22pt;
	padding-left: 35px;
	padding-top: 15px;
	font-weight: 0.5;
}

.container{
	padding: 0;
	margin: 0; 
	width: 100%;
	/*height: 100vh;*/
	display: flex; 
	flex-flow: row wrap;
	justify-content: space-between;
	display: flex;
	margin: auto;
	/*flex-wrap: wrap; 
	flex-direction: row; */
	/*align-content: space-around; */
	/*justify-content: space-around; */
	} 

.links{
	padding-top: 30px;
	padding-left: 30px;
	color: #646464;
	height: 50px;
	width: 100%;
	font-size: 16pt;
}
.teacher-card{
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px; 
	height: 130px;
	width: 405px;
	background:  #ffffff;
	margin-left: 15px;
}
.card-left{
	height: 100%;
	background: #006160;
	width: 130px;
	float: left;
	/*margin-right: 15px;*/
}
.card-right{
	float: right;
	color:  #006160;
	padding-left: 15px;
	padding-top: 20px;
	font-size: 16pt;
	width: 260px;
	height: 100%;
}
.logo{
	height: 110px;
	width: 110px;
}

/* Базовые стили слоя затемнения и модального окна  */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
/* фон затемнения */
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
}
/* активируем слой затемнения */
.overlay:target {
    display: block;
}
/* стили модального окна */
.popup {
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 20;
    margin: 0;
    width: 65%;
    min-width: 320px;
    max-width: 465px;
/* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    /*padding: 15px;*/
    /*border: 1px solid #383838;*/
    background: #fefefe;
/* внешняя тень */
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}
/* активируем модальный блок */
.overlay:target+.popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}
/* формируем кнопку закрытия */
.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);    
}

.popup .header{
	text-align: center;
	padding-left: 0px;
	font-size: 18pt;
}

/* изображения внутри окна */
.popup img {
    /*width: 100%;*/
    /*height: auto;*/
}

.popup h2 { /* заголовок 2 */
    margin: 0;
    color: #008000;
    padding: 5px 0px 10px;
    text-align: left;
    text-shadow: 1px 1px 3px #adadad;
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1.3;
}
/* параграфы */
.popup p {
	margin: 0; 
	padding: 5px 0;
}
.popup .card{
	width: 100%;
	height: 185px;
	background: #e4e4e4;
}
.popup .card-left{
	margin-top: 30px;
	margin-left: 64px;
	width: 130px;
	height: 130px;
}
.popup .card-right{
	font-size: 14pt;
	width: 230px;
	padding-top: 25px;
	font-variant: bold;

}
.popup h4{
	font-size: 12px;
}

 .popup fieldset{
 	width: 100%;
 	margin:0px;
 	border: 0px;
 }

.popup #in-button{
	background: #541250;
	text-align: center;
	color: #ffffff;
	border-radius: 5px;
	height: 50px;
	padding-top: 12px; 
	font-size: 14pt;
	margin-bottom: 0px;
	cursor: pointer;
}
.popup #invisible-btn{
	opacity: 0;
}

.popup legend{
	color: #541250;
	font-size: 18px;
	padding-left: 65px;
	width: 100%;
}
.popup .form-answer {
    display: inline-block;
    box-sizing: border-box;
    width: 50px;
    margin: 10px 1% 10px 0;
    height: 30px;
    vertical-align: top;
    font-size: 16px;
    text-align: center; 
    border: 2px solid;
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
}

.popup .form-answer :active :hover {
	background: #541250;
}

input[type="radio"] {
    /*opacity: 0;*/
    /*width: 0;*/
    /*height: 0;*/
    /*margin:0px;*/
}

input[type="radio"]:active ~ label {
  opacity: 1;
}

input[type="radio"]:checked ~ label {
  opacity: 1;
    border: 1px solid $font-color;
    background: #541250;
}